.d-flex{
    padding:1px;
    padding-inline: 5px;
}
img{
    height: 90vh;
}
h1{
    color:black;
}

.logo{
    height: 7vh;
    width:8vw
}


.btn{
margin-left: 4%;
}
.p1{
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 2%;
    font-size:x-large;
    text-align: center;
    color: black;
}
h2{
    padding-top: 2%;
    text-align: center;
    font-size: xx-large;
    color:navy;
}
p{
    font-size: large;
}
.body{
    background-color: rgb(160, 160, 230);
}
.example-card{
    background-image: url(../../assets/bgcon.JPG);
}