<div class="body">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" >
      <img class="logo" src="../../assets/Capture.JPG" alt="ncs">
      <!-- <a class="navbar-brand" routerLink="/home">NCS</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/home">NEXT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/home">Industries</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/home">Knowledge Centre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/aboutus">About us</a>
            </li> -->
          
        </ul>
        <form class="d-flex">
            <button class="btn btn-outline-success" type="submit" routerLink="/login">Login</button>
          <button class="btn btn-outline-success" type="submit" routerLink="/register">Register</button>
        </form>
      </div>
    </div>
  </nav>

  <video height="600" width="1250" controls muted>

    <source src="../../assets/Ncs Brand Animation Reveal W Gunnery 30Jun Webcut Aboutus compressed.mp4">
  </video>
  <h2>our purpose</h2>
  <p class="p1">
    We advance our communities by partnering with governments and enterprises to harness technology.
    
    We do this by bringing people together to make the extraordinary happen.</p>
    <img class="d-block w-100" src="../../assets/ourcompanies.JPG " alt="ourcompanies">
<div class="user-card w-100">
  <mat-card class="example-card">
    <mat-card-content>
        <h1>join an extarordinary team </h1>
        <p>Our diverse and talented teams build innovations that touch millions of lives every day, are you ready to be part of it?</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button> Know More</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>